{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | S'enregistrer{% endblock %}

{% block body %}
    <h2>Créer un compte</h2>

    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}

        <button type="submit" class="btn-senregistrer">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
