{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock%}

{% block body %}
    <h2>Descriptif</h2>
        <div>Calculateur pour formuler ses propres savons.</div>
    <h2>Recommandations</h2>
        <div>Des précautions sont à prendre lorsque l'on utilise de la soude.</div>
{% endblock %}

