<nav class="header-nav">
    <a href="{{ path('main_accueil') }}" title="Accueil">Accueil</a>
    <a href="{{ path('savons_calculSoude') }}" title="Créer un savon">Créer un savon</a>
    <a href="{{ path('savons_liste') }}" title="Liste des savons">Liste des savons</a>
    <a href="#" title="Contact">Contact</a>
</nav>